/*
Triangles originally from:
http://codepen.io/thebabydino/pen/ivbaF
*/
/*$c: #FFFFFF #E25B0E #F1DD08 #059444 #0287CE #044D91
    #000000 #FFFFFF #D91F26 #E25B0E #F1DD08 #059444;*/
.triangles {
    display: none;
}

@media (min-width: 768px) {
    .triangles {
        display: block;
    }
}
.triangles, .triangles *, .triangles *:before {
    position: absolute;
    top: 50%;
    left: 50%;
}

.triangles {
    overflow: hidden;
    padding: 0;
    margin: -3.5074em -4.05em;
    width: 8.1em;
    height: 7.01481em;
    transform: translateX(-25%) skewX(30deg);
    list-style: none;
}

.triangle, .triangle:before {
    margin: -0.58457em -0.675em;
    width: 1.35em;
    height: 1.16913em;
}

.triangle {
    overflow: hidden;
}
.triangle:nth-child(1) {
    transform: skewX(-30deg) rotate(-60deg) translate(-3.0375em, 0.58457em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.1s;
    -moz-animation: ani 2.1s infinite -0.1s;
    -o-animation: ani 2.1s infinite -0.1s;
    animation: ani 2.1s infinite -0.1s;
}
.triangle:nth-child(1):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.2s;
    -moz-animation-delay: -0.2s;
    -o-animation-delay: -0.2s;
    animation-delay: -0.2s;
    content: '';
}
.triangle:nth-child(2) {
    transform: skewX(-30deg) rotate(-60deg) translate(-1.6875em, 0.58457em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.3s;
    -moz-animation: ani 2.1s infinite -0.3s;
    -o-animation: ani 2.1s infinite -0.3s;
    animation: ani 2.1s infinite -0.3s;
}
.triangle:nth-child(2):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.4s;
    -moz-animation-delay: -0.4s;
    -o-animation-delay: -0.4s;
    animation-delay: -0.4s;
    content: '';
}
.triangle:nth-child(3) {
    transform: skewX(-30deg) rotate(-60deg) translate(-0.3375em, 0.58457em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.3s;
    -moz-animation: ani 2.1s infinite -0.3s;
    -o-animation: ani 2.1s infinite -0.3s;
    animation: ani 2.1s infinite -0.3s;
}
.triangle:nth-child(3):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.4s;
    -moz-animation-delay: -0.4s;
    -o-animation-delay: -0.4s;
    animation-delay: -0.4s;
    content: '';
}
.triangle:nth-child(4) {
    transform: skewX(-30deg) rotate(-60deg) translate(1.0125em, 0.58457em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.4s;
    -moz-animation: ani 2.1s infinite -0.4s;
    -o-animation: ani 2.1s infinite -0.4s;
    animation: ani 2.1s infinite -0.4s;
}
.triangle:nth-child(4):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;
    content: '';
}
.triangle:nth-child(5) {
    transform: skewX(-30deg) rotate(-60deg) translate(2.3625em, 0.58457em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.2s;
    -moz-animation: ani 2.1s infinite -0.2s;
    -o-animation: ani 2.1s infinite -0.2s;
    animation: ani 2.1s infinite -0.2s;
}
.triangle:nth-child(5):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.3s;
    -moz-animation-delay: -0.3s;
    -o-animation-delay: -0.3s;
    animation-delay: -0.3s;
    content: '';
}
.triangle:nth-child(6) {
    transform: skewX(-30deg) rotate(-60deg) translate(3.7125em, 0.58457em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.3s;
    -moz-animation: ani 2.1s infinite -0.3s;
    -o-animation: ani 2.1s infinite -0.3s;
    animation: ani 2.1s infinite -0.3s;
}
.triangle:nth-child(6):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.4s;
    -moz-animation-delay: -0.4s;
    -o-animation-delay: -0.4s;
    animation-delay: -0.4s;
    content: '';
}
.triangle:nth-child(7) {
    transform: skewX(-30deg) rotate(-60deg) translate(-2.3625em, 1.7537em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.4s;
    -moz-animation: ani 2.1s infinite -0.4s;
    -o-animation: ani 2.1s infinite -0.4s;
    animation: ani 2.1s infinite -0.4s;
}
.triangle:nth-child(7):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;
    content: '';
}
.triangle:nth-child(8) {
    transform: skewX(-30deg) rotate(-60deg) translate(-1.0125em, 1.7537em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.9s;
    -moz-animation: ani 2.1s infinite -0.9s;
    -o-animation: ani 2.1s infinite -0.9s;
    animation: ani 2.1s infinite -0.9s;
}
.triangle:nth-child(8):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
    content: '';
}
.triangle:nth-child(9) {
    transform: skewX(-30deg) rotate(-60deg) translate(0.3375em, 1.7537em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.6s;
    -moz-animation: ani 2.1s infinite -0.6s;
    -o-animation: ani 2.1s infinite -0.6s;
    animation: ani 2.1s infinite -0.6s;
}
.triangle:nth-child(9):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.7s;
    -moz-animation-delay: -0.7s;
    -o-animation-delay: -0.7s;
    animation-delay: -0.7s;
    content: '';
}
.triangle:nth-child(10) {
    transform: skewX(-30deg) rotate(-60deg) translate(1.6875em, 1.7537em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.4s;
    -moz-animation: ani 2.1s infinite -0.4s;
    -o-animation: ani 2.1s infinite -0.4s;
    animation: ani 2.1s infinite -0.4s;
}
.triangle:nth-child(10):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;
    content: '';
}
.triangle:nth-child(11) {
    transform: skewX(-30deg) rotate(-60deg) translate(3.0375em, 1.7537em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.7s;
    -moz-animation: ani 2.1s infinite -0.7s;
    -o-animation: ani 2.1s infinite -0.7s;
    animation: ani 2.1s infinite -0.7s;
}
.triangle:nth-child(11):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    -o-animation-delay: -0.8s;
    animation-delay: -0.8s;
    content: '';
}
.triangle:nth-child(12) {
    transform: skewX(-30deg) rotate(-60deg) translate(-1.6875em, 2.92284em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -1s;
    -moz-animation: ani 2.1s infinite -1s;
    -o-animation: ani 2.1s infinite -1s;
    animation: ani 2.1s infinite -1s;
}
.triangle:nth-child(12):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -1.1s;
    -moz-animation-delay: -1.1s;
    -o-animation-delay: -1.1s;
    animation-delay: -1.1s;
    content: '';
}
.triangle:nth-child(13) {
    transform: skewX(-30deg) rotate(-60deg) translate(-0.3375em, 2.92284em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.6s;
    -moz-animation: ani 2.1s infinite -0.6s;
    -o-animation: ani 2.1s infinite -0.6s;
    animation: ani 2.1s infinite -0.6s;
}
.triangle:nth-child(13):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.7s;
    -moz-animation-delay: -0.7s;
    -o-animation-delay: -0.7s;
    animation-delay: -0.7s;
    content: '';
}
.triangle:nth-child(14) {
    transform: skewX(-30deg) rotate(-60deg) translate(1.0125em, 2.92284em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -1s;
    -moz-animation: ani 2.1s infinite -1s;
    -o-animation: ani 2.1s infinite -1s;
    animation: ani 2.1s infinite -1s;
}
.triangle:nth-child(14):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -1.1s;
    -moz-animation-delay: -1.1s;
    -o-animation-delay: -1.1s;
    animation-delay: -1.1s;
    content: '';
}
.triangle:nth-child(15) {
    transform: skewX(-30deg) rotate(-60deg) translate(2.3625em, 2.92284em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -1.1s;
    -moz-animation: ani 2.1s infinite -1.1s;
    -o-animation: ani 2.1s infinite -1.1s;
    animation: ani 2.1s infinite -1.1s;
}
.triangle:nth-child(15):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -1.2s;
    -moz-animation-delay: -1.2s;
    -o-animation-delay: -1.2s;
    animation-delay: -1.2s;
    content: '';
}
.triangle:nth-child(16) {
    transform: skewX(-30deg) rotate(-60deg) translate(-1.0125em, 4.09197em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -1.2s;
    -moz-animation: ani 2.1s infinite -1.2s;
    -o-animation: ani 2.1s infinite -1.2s;
    animation: ani 2.1s infinite -1.2s;
}
.triangle:nth-child(16):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.1s;
    -moz-animation-delay: -0.1s;
    -o-animation-delay: -0.1s;
    animation-delay: -0.1s;
    content: '';
}
.triangle:nth-child(17) {
    transform: skewX(-30deg) rotate(-60deg) translate(0.3375em, 4.09197em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.4s;
    -moz-animation: ani 2.1s infinite -0.4s;
    -o-animation: ani 2.1s infinite -0.4s;
    animation: ani 2.1s infinite -0.4s;
}
.triangle:nth-child(17):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;
    content: '';
}
.triangle:nth-child(18) {
    transform: skewX(-30deg) rotate(-60deg) translate(1.6875em, 4.09197em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -1.2s;
    -moz-animation: ani 2.1s infinite -1.2s;
    -o-animation: ani 2.1s infinite -1.2s;
    animation: ani 2.1s infinite -1.2s;
}
.triangle:nth-child(18):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.1s;
    -moz-animation-delay: -0.1s;
    -o-animation-delay: -0.1s;
    animation-delay: -0.1s;
    content: '';
}
.triangle:nth-child(19) {
    transform: skewX(-30deg) rotate(-60deg) translate(-0.3375em, 5.2611em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.8s;
    -moz-animation: ani 2.1s infinite -0.8s;
    -o-animation: ani 2.1s infinite -0.8s;
    animation: ani 2.1s infinite -0.8s;
}
.triangle:nth-child(19):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.9s;
    -moz-animation-delay: -0.9s;
    -o-animation-delay: -0.9s;
    animation-delay: -0.9s;
    content: '';
}
.triangle:nth-child(20) {
    transform: skewX(-30deg) rotate(-60deg) translate(1.0125em, 5.2611em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -1s;
    -moz-animation: ani 2.1s infinite -1s;
    -o-animation: ani 2.1s infinite -1s;
    animation: ani 2.1s infinite -1s;
}
.triangle:nth-child(20):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -1.1s;
    -moz-animation-delay: -1.1s;
    -o-animation-delay: -1.1s;
    animation-delay: -1.1s;
    content: '';
}
.triangle:nth-child(21) {
    transform: skewX(-30deg) rotate(-60deg) translate(0.3375em, 6.43024em) skewX(30deg);
    -webkit-animation: ani 2.1s infinite -0.2s;
    -moz-animation: ani 2.1s infinite -0.2s;
    -o-animation: ani 2.1s infinite -0.2s;
    animation: ani 2.1s infinite -0.2s;
}
.triangle:nth-child(21):before {
    transform: skewX(-30deg) translateX(-50%) skewX(-30deg);
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    -webkit-animation-delay: -0.3s;
    -moz-animation-delay: -0.3s;
    -o-animation-delay: -0.3s;
    animation-delay: -0.3s;
    content: '';
}

@keyframes ani {
    0% {
        background: #FFFFFF;
    }
    8.33333% {
        background: #E25B0E;
    }
    16.66667% {
        background: #F1DD08;
    }
    25% {
        background: #059444;
    }
    33.33333% {
        background: #0287CE;
    }
    41.66667% {
        background: #044D91;
    }
    50% {
        background: #000000;
    }
    58.33333% {
        background: #FFFFFF;
    }
    66.66667% {
        background: #D91F26;
    }
    75% {
        background: #E25B0E;
    }
    83.33333% {
        background: #F1DD08;
    }
    91.66667% {
        background: #059444;
    }
    100% {
        background: #FFFFFF;
    }
}
/** OVERRIDE **/
ul.triangles {
    position: relative;
    float: left;
    margin: 1em 0 0 0;
    top: inherit;
    left: inherit;
}

/* Set margin to value of ".triangle, .triangle:before" */
.item-list ul.triangles li {
    margin: -0.58457em -0.675em;
}